
/*AK- CSS for the navbar -header with logo*/
nav{
    position: fixed;
    background:  rgba(0,0,0,0.2);
    padding: 0;
}
.slider{
  position: absolute;
    z-index: -1;

}

.card-panel {
 width:400px;
position: relative;
margin-top: 400px;

background:  rgba(0,0,0,0.2);
color: white;
}

.card-container{
    position: relative;
    margin-top: 150px;
}

.btn-block {
    width: 100%;
    
    background:  rgba(0,0,0,0.2);
}

.modal-btn:hover {
    filter: brightness(200%);
    background: rgba(0,0,0,0.8);
  }